

<p> name : <%=@article.title%> </p>

<p> desc : <%=@article.description%></p>

<%= link_to  "Edit this Article", edit_article_path(@article) %> |

<%= link_to  "Back to Listing"  , articles_path %>